.search-result {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.artists {
    margin: auto;
    width: 100%;
    gap: 1.5rem;
}

.artist_imgs {
    margin-top: 15px;
    width: 130px;
    height: 150px;
    border-radius: 50%;
}


.top-artist-column {
    position: relative;
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    left: 100px;
    top: 20px;
    align-items: center;
    box-shadow: 5px 3px 20px black;
}

.top-artist {
    text-align: center;
}

.topArtist_img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}


.top-artist-name {
    font-size: 1.5em;
    font-weight: bold;
}

.top-artist-info {
    margin-top: 10px;
}

.genre {
    display: inline-block;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

.top-track {
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.top-track-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s ease;

}

.top-track-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: opacity 0.3s;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}



.top-track:hover .top-track-name {
    opacity: 1;
}


.top-artist-tracks-column {
    width: 70%;
    padding: 20px;
}

.top-artist-tracks-column h2 {
    font-size: 1.5em;
    text-transform: capitalize;
    color: #fff;
}

.top-artist-tracks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.top-artist-track {
    position: relative;
    width: calc(33.333% - 10px);
    /* 3개의 트랙이 한 줄에 오도록 설정 */
    cursor: pointer;
}

.track-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.top-artist-track:hover .track-image {
    transform: scale(1.1);
}

.top-artist-track:hover .track-name {
    opacity: 1;
    text-align: center;
}

.track-name {
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    /* 기본적으로 투명하게 설정하여 숨김 */
    position: absolute;
    /* 위치 설정 */
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    /* 배경색 및 투명도 조절 */
    color: white;
    /* 텍스트 색상 */
    padding: 10px;
    /* 내부 여백 설정 */
    box-sizing: border-box;
    border-radius: 10px;
    transition: opacity 0.3s;
    /* 투명도 변화에 대한 전환 효과 설정 */
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .search-result {
        flex-direction: column;
    }

    .top-artist-column {
        width: 50%;
        margin: auto;
        height: min-content;
        padding: 10px;
        background-color: #f8f9fa;
    }

    .topArtist_img {
        width: 60%;
        border-radius: 50%;
        margin-bottom: 10px;
    }


    .top-artist-name {
        font-size: 1.5em;
        font-weight: bold;
    }

    .top-artist-info {
        margin-top: 10px;
    }
}