body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(42, 41, 55);
  background: linear-gradient(90deg, rgba(42, 41, 55, 1) 0%, rgba(31, 121, 9, 1) 14%, rgba(0, 212, 255, 1) 100%);
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.header_container h2 {
  font-size: 2rem;
  text-transform: capitalize;
}



.title {
  display: flex;
  justify-content: center;
  margin: auto;
  color: #fff;

}

.title a {
  text-decoration: none;
  color: white;
}


.search_box {
  width: max-content;
  display: flex;
  padding: 14px;
  border-radius: 28px;
  align-items: center;
  background: #f6f6f6;
  margin-top: 15px;
}

.search_box:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
  font-size: 16px;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  width: 300px;
  background: transparent;

}

.search-btn {
  background-color: #333333;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
}

.artists {
  margin: auto;
  width: 100%;
  gap: 1.5rem;
}

.artist_imgs {
  margin-top: 15px;
  width: 150px;
  height: 180px;
  border-radius: 50%;
}


/*main-container*/

.search-result {
  display: flex;
  justify-content: space-between;
}

/* left-side*/
.top-artist-column {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: min-content;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 20px;
  align-items: center;
}

.top-artist {
  text-align: center;
}

.topArtist_img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}


.top-artist-name {
  font-size: 1.5em;
  font-weight: bold;
}

.top-artist-info {
  margin-top: 10px;
}

.genre {
  display: inline-block;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

.top-track {
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.top-track-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s ease;

}

.top-track-name {
  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 0;
  /* 기본적으로 투명하게 설정하여 숨김 */
  position: absolute;
  /* 위치 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 배경색 및 투명도 조절 */
  color: white;
  /* 텍스트 색상 */
  padding: 8px;
  /* 내부 여백 설정 */
  box-sizing: border-box;
  border-radius: 10px;
  transition: opacity 0.3s;
  /* 투명도 변화에 대한 전환 효과 설정 */
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}



.top-track:hover .top-track-name {
  opacity: 1;
}

/*top-artist tracks  right-side*/

.top-artist-tracks-column {
  width: 70%;
  padding: 20px;
}

.top-artist-tracks-column h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  color: #fff;
}

.top-artist-tracks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.top-artist-track {
  position: relative;
  width: calc(33.333% - 10px);
  /* 3개의 트랙이 한 줄에 오도록 설정 */
  cursor: pointer;
}

.track-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.top-artist-track:hover .track-image {
  transform: scale(1.1);
}

.top-artist-track:hover .track-name {
  opacity: 1;
  text-align: center;
}

.track-name {
  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 0;
  /* 기본적으로 투명하게 설정하여 숨김 */
  position: absolute;
  /* 위치 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 배경색 및 투명도 조절 */
  color: white;
  /* 텍스트 색상 */
  padding: 10px;
  /* 내부 여백 설정 */
  box-sizing: border-box;
  border-radius: 10px;
  transition: opacity 0.3s;
  /* 투명도 변화에 대한 전환 효과 설정 */
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}



/*가사*/

.lyrics_container {
  margin: auto;
  display: flex;
  margin-top: 5rem;
  width: 80%;
  flex-direction: column;
  background-color: #fff;
  color: #333;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.selectedTrack-title {
  text-transform: capitalize;
}

.lyrics {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.translate-btn {
  border: none;
  outline: none;
  border-radius: 10px;
  width: fit-content;
  font-size: 18px;
  text-transform: uppercase;
}